@keyframes moveright {
    0% {
        transform:translateX(-10rem)
    }
    80% {
        transform:translateX(10rem)

    }
    100% {
        transform:translateX(0)

    }
}


 @keyframes moveleft{
    0% {
        transform:translateX(10rem)
    }
    80% {
        transform:translateX(-10rem)

    }
    100% {
        transform:translateX(0)

    }
}
 
