.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto; }

.row {
  display: flex;
  flex-wrap: wrap; }

[class^="col-"] {
  padding: 0 1.5rem; }

.col-12 {
  width: calc(100% * 12 / 12);
  flex: 0 0 calc(100% * 12 / 12); }

.col-6 {
  width: calc(100% * 6 / 12);
  flex: 0 0 calc(100% *6 / 12); }

.col-4 {
  width: calc(100% * 4 / 12);
  flex: 0 0 calc(100% *4 / 12); }

.col-9 {
  width: calc(100% * 9 / 12);
  flex: 0 0 calc(100% *9 / 12); }

.col-3 {
  width: calc(100% * 3 / 12);
  flex: 0 0 calc(100% *3 / 12); }

@keyframes moveright {
  0% {
    transform: translateX(-10rem); }
  80% {
    transform: translateX(10rem); }
  100% {
    transform: translateX(0); } }

@keyframes moveleft {
  0% {
    transform: translateX(10rem); }
  80% {
    transform: translateX(-10rem); }
  100% {
    transform: translateX(0); } }

.text-center {
  text-align: center; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: .2rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 8rem; }
  .heading-secondary:hover, .heading-secondary:focus {
    transform: scale(1.1);
    text-shadow: 0.5rem, 1rem, 2rem, rgba(0, 0, 0, 0.2); }

.heading-ter {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 2rem; }

.para {
  font-size: 1.6rem; }
  .para:not(:last-child) {
    margin-bottom: 2rem; }

.btn, .btn:link, .btn:visited {
  padding: 1rem 4rem;
  cursor: pointer;
  text-decoration: none;
  border: 0px;
  border-radius: 10rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  display: inline-block;
  transition: all .4s ease-in-out;
  position: relative; }

.btn-white {
  background-color: #fff;
  color: #777; }
  .btn-white::before {
    content: '';
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10rem;
    transition: all .4s ease-in-out; }

.btn:hover {
  transform: translateY(-1.5rem);
  box-shadow: 0 0 1rem 0.8rem #777; }

.btn-text, .btn-text:link, .btn-text:visited {
  color: #55c57a;
  padding: 0.3rem;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  display: inline-block;
  font-size: 1.6rem;
  text-transform: capitalize;
  transition: all o 0.4s ease-in-out; }
  .btn-text:hover, .btn-text:focus, .btn-text:link:hover, .btn-text:link:focus, .btn-text:visited:hover, .btn-text:visited:focus {
    background-color: #55c57a;
    color: #fff;
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.composition {
  position: relative; }
  .composition-img {
    width: 65%;
    border-radius: 2px;
    position: absolute;
    transition: all 0.4s ease-in-out; }
    .composition-img:hover {
      z-index: 10;
      outline: 1.5rem solid #55c57a;
      outline-offset: 10px;
      transform: scale(1.1); }
    .composition-img-1 {
      top: 0;
      left: -2rem; }
    .composition-img-2 {
      top: 2rem;
      right: 0; }
    .composition-img-3 {
      top: 10rem;
      left: 20%; }
  .composition:hover .composition-img:not(:hover) {
    transform: scale(0.8); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 98%); }
  .header .logo {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 3.5rem; }
    .header .logo img {
      height: 100%; }

.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header .header-primary {
    color: #fff;
    text-transform: uppercase; }
    .header .header-primary-main {
      display: block;
      margin-bottom: 5rem;
      font-size: 6rem;
      letter-spacing: 3rem;
      font-weight: 400;
      animation: moveright 4s ease-in-out; }
    .header .header-primary-sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.7rem;
      animation: moveleft 4s ease-in-out;
      margin-bottom: 5rem; }

.explore {
  height: 100vh;
  background-image: linear-gradient(to right, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url(../images/nat-4.jpg);
  transform: skewY(-7deg);
  margin-top: -10rem;
  padding: 20rem 0;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  .explore > * {
    transform: skewY(7deg); }
  .explore-box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    transform: all 0.3 ease-in-out;
    padding: 2.5rem;
    box-shadow: 0, 1.5ren, 4rem, rgba(40, 180, 133, 0.8); }
    .explore-box:hover {
      transform: translateY(-1.7rem) scale(1.05);
      box-shadow: 0, 1.5rem, 4rem, rgba(255, 255, 255, 0.8); }
  .explore i {
    font-size: 6rem;
    margin-bottom: 1rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }

.tour {
  background-color: #f7f7f7;
  margin-top: -30rem;
  padding: 30rem 0; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  padding: 3rem;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Lato', sans-serif;
  position: relative;
  color: #777; }
